:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --subheading-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin-bottom: 200px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
  margin: 0px;
  margin-bottom: 50px;
  line-height: 80%;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.hero p,
.hero h2 {
  font-family: var(--default-font-family);
  color: var(--subheading-color);
}
.hero h2 {
  font-size: 24px;
  font-weight: lighter;
  margin: 50px 0;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
}

.hero-btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: white;
  padding: 15px 30px;
}
.hero {
  padding: 160px 20px;
  text-align: center;
  background-color: var(--primary-color);
}
.intro {
  padding: 94px 0px;
  text-align: center;
}
.btn-white {
  color: var(--secondary-color);
  border-radius: 4px;
  border-color: #6c63ff;
}

.image {
  border-radius: 4px;
  margin: 0px;
  padding: 50px 5px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 30px;
  }
  .show-image {
    display: none;
  }

  h2 {
    font-size: 45px;
    text-align: center;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
  .btn-white {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .description {
    padding: 0;
    text-align: center;
  }
}
