:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --subheading-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.hero h1 {
  font-size: 96px;
  margin: 0px;
  margin-bottom: 50px;
  line-height: 80%;
}

.hero p,
.hero h2 {
  font-family: var(--default-font-family);
  color: var(--subheading-color);
}
.hero h2 {
  font-size: 24px;
  font-weight: lighter;
  margin: 50px 0;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
}

.hero-btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: white;
  padding: 15px 30px;
}
.hero {
  padding: 160px 20px;
  text-align: center;
  background-color: var(--primary-color);
}
.intro {
  padding: 94px 0px;
  text-align: center;
}
.btn-white {
  color: var(--secondary-color);
  border-radius: 4px;
  border-color: #6c63ff;
}

.image {
  border-radius: 4px;
  margin: 0px;
  padding: 50px 5px;
}
.about-info {
  margin-bottom: 80px;
}

.about-btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: white;
  padding: 15px 30px;
}

.flyer {
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
}

.work-main {
  text-align: center;
}
.work-main h1 {
  font-size: 64px;
  line-height: 85.31px;
  font-family: var(--heading-font-family);
}
.work-main h2 {
  font-size: 30px;
  line-height: 27px;
  font-family: var(--default-font-family);
  color: var(--subheading-color);
  font-weight: 700px;
}
.work-main p {
  font-size: 20px;
  line-height: 30px;
  color: var(--subheading-color);
  opacity: 70%;
}
.work-main h3 {
  font-size: 28px;
  line-height: 27px;
  font-family: var(--default-font-family);
  color: var(--subheading-color);
  font-weight: 700px;
}
.work-main {
  padding: 160px 20px 0px 20px;
}
.about-main h1 {
  font-size: 64px;
  line-height: 85.31px;
  font-family: var(--heading-font-family);
}
.about-main h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
  color: var(--subheading-color);
  font-weight: 700px;
}
.about-main p {
  font-size: 16px;
  line-height: 30px;
  color: var(--subheading-color);
  opacity: 70%;
}

.about-main {
  padding: 160px 20px 0px 20px;
}

.my-photo {
  border-radius: 200px;
  margin: 0px;
  padding: 0px 30px;
}

.navbar {
  padding: 30px 25px;
}
.nav-item {
  margin-left: 35px;
}

.nav-link:hover,
.active {
  color: var(--secondary-color) !important;
}

footer {
  margin: 120px 0px 20px 0px;
}
footer .contact-box {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

footer h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}

.mail {
  text-decoration: none;
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
}
.social-media {
  color: var(--secondary-color);
  font-size: 40px;
  padding: 15px 30px;
  background-color: var(--primary-color);
  margin: 20px;
  border-radius: 40px;
}
.footer-small-heading {
  display: none;
}

@media (max-width: 767px) {
  .hero h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 20px;
  }
  .show-image {
    display: none;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 5px;
  }
  p {
    font-size: 15px;
    text-align: center;
    padding: 0 20px;
  }
  .btn-white {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .description {
    padding: 0;
    text-align: center;
  }
  .about-main {
    text-align: center;
  }
  .about-main h1 {
    font-size: 50px;
    padding: 10px 0px;
  }

  .about-main p {
    padding: 25px 5px;
  }
  .my-photo {
    display: none;
  }
  .info {
    text-align: center;
  }
  .about-btn {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .work-main h1 {
    font-size: 50px;
  }
  .work-main h2 {
    font-size: 25px;
  }
  .work-main p {
    font-size: 16px;
    padding: 0px;
  }
  .work-main h3 {
    font-size: 20px;
  }

  footer .contact-box {
    display: none;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
  }

  .footer-contact {
    background-color: var(--primary-color);
    padding-top: 40px;
    margin: 10px;
  }
  .social-media {
    margin: 0px;
  }
  .footer-small-heading {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--heading-font-family);
    font-size: 15px;
    padding-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .mail {
    font-size: 18px;
  }
}

@media (max-width: 1222px) {
  .text {
    display: none;
  }
}
